
  .options-container .option {
    margin-bottom: 10px;
    text-align: center;
}

.options-container a button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9); /* White with 90% transparency */
    color: #333; /* Dark grey text */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.options-container a button:hover {
    background-color: rgba(255, 255, 255, 0.7); /* White with 70% transparency on hover */
}